---
layout: default
---
<h1>{{ page.title}}</h1>
<p class="subtitle">{{ page.date | date: "%B %-d, %Y" }}</p>

{{ content }}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var divs = document.querySelectorAll("div[render_count]");
        var refs = document.querySelectorAll("ref");
    
      if (refs) {
            refs.forEach(function(ref) {
                var refId = ref.getAttribute("id");
                divs.forEach(function(div) {
                    var divId = div.getAttribute("id");
                    if (divId==refId){
                        var count = div.getAttribute("render_count");
                        var link = document.createElement("a");
                        link.href = "#" + divId;
                        if (divId.toLowerCase().includes('eqn')){
                            link.textContent = "Eqn. " + count;
                        } else if(divId.toLowerCase().includes('fig')){
                            link.textContent = "Fig. " + count;
                        } else{
                            link.textContent = divId;
                        }
                        ref.parentNode.insertBefore(link, ref);
                    }
                });
            });
        }
    });
</script>